body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container-tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tour {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tour img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

.tour img:hover {
    transform: scale(1.1);
}

.home-btn {
    display: block;
    margin: 20px auto;
    padding: 2rem 4rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

.Contact-btn:hover {
    background-color: #0056b3;
    color: black;
}